<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="MhdAkn.quizzgames">

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizzGames">
        <activity
            android:name=".View_score"
            android:exported="false" />
        <activity
            android:name=".ActivityList"
            android:exported="true" />
        <activity
            android:name=".flash"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".quizLitterature"
            android:exported="true" />
        <activity
            android:name=".quizSport"
            android:exported="true" />
        <activity
            android:name=".quizMusique"
            android:exported="true" />
        <activity
            android:name=".quizInformatique"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".quizCulture"
            android:exported="true" />
    </application>

</manifest>